@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow:#bbd0e2;
    --bg-color: white;
    --hover-color: #f9fdff;
    --card-bg-color:#fff;
    --search-button-color: white;
    --nav-bg-color: #f3faff;
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}
.dark-theme {
    --box-shadow:#000000;
    --bg-color: rgb(30, 30, 30);
    --hover-color:#323232;
    --card-bg-color:#363636;
    --search-button-color: #dcdcdc;
    --nav-bg-color: #363636;
    --primary-text-color: #e7e7e7;
    --secondary-text-color: #ffffff;
    --accent-color: #bb86fc;
    --accent-color-dark: #825db0;
}

body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display:flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: var(--nav-bg-color);
    box-shadow: 0 0 4px var(--box-shadow);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;

}
.main-nav{
    justify-content: space-between;
    padding: 8px 0;

}
.company-logo img{
    width: 120px;
}

.nav-links ul{
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}
.nav-items.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid var(--box-shadow);
    font-family: "Poppins", sans-serif;
}

.search-button {
    background-color: var(--accent-color);
    border: none;
    color: var(--search-button-color);
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding: 20px 0;
    margin-top: 80px;
}
.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px var(--box-shadow);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--card-bg-color);
    overflow: hidden; 
    transition: all 0.3s ease;
}
.card:hover {
    box-shadow: 1px 1px 8px var(--box-shadow);
    background-color: var(--hover-color);
    transform: translateY(-2px);
}
.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content {
    padding: 12px;
}

#icon {
    width: 30px;
    cursor: pointer;
}


.news-source {
    margin-block: 12px;
}

nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 1000px){
    nav{
    padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
}